.jumbotron-banner {

    color: white;
    background: #4278B8 url('./dist/bg.png') center center !important;

}

.form-control:hover, .form-control:focus {
    box-shadow: none;
}

.form-control:focus {
    border-color: #4278B8;
}

.form-control#income {
    text-align: right;
}

.row.calc-income {
    margin-top: 2rem;
}

.row.calc-blow-bucket {
    margin-top: 2rem;
}

.row.calc-result {
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $color-border;
}

.dollars, .cents {
    color: #999;
}

.income-help {
    letter-spacing: 0;
}

.table tbody td, .table tfoot td {
    font-size: $font-size-base;
}

.your-percentage {
    width: 40px !important;
}

.input-group-addon, .input-group-lg > .input-group-addon {
    min-width: auto;
}

.form-control + .input-group-addon {
    margin-left: .2rem;
}

// Responsive table
@include media-breakpoint-up(ms) {

    .r-table {

        width: 100%;
        display: table;

        & > .r-table-row.what-if > .r-table-td, & > .r-table-head > .r-table-row > .r-table-td {
            border-bottom: 1px solid $color-border;
        }

        & > .r-table-row.what-if > .r-table-td {
            background-color: $color-light-yellow;
        }

        & > .r-table-row.what-if > .r-table-td:nth-child(1) {
            background-color: $white;
        }

    }

    .r-table-head {

        display: table-header-group;

        .r-table-td {
            font-size: .75rem;
            text-transform: uppercase;
            color: $color-body-3;
        }

    }

    .r-table-row {

        display: table-row;

        .r-table-td:nth-child(2), .r-table-td:nth-child(3), .r-table-td:nth-child(4) {
            text-align: right;
            color: $color-body-3;
        }

    }

    .r-table-row.what-if {

        .r-table-td:nth-child(2), .r-table-td:nth-child(3), .r-table-td:nth-child(4) {
            color: $color-body-1;
        }

    }

    .r-table-td {
        display: table-cell;
        padding: 1rem;
    }

    .r-table-foot {

        display: table-footer-group;

        & > .r-table-row:nth-child(1) > .r-table-td {
            border-top: 1px solid $color-border;
        }

        .r-table-td:nth-child(1) {
            color: $color-body-1;
        }

        .r-table-row .r-table-td {
            color: $color-body-1;
            font-weight: bold;
        }

        .r-table-row.what-if > .r-table-td {
            background-color: $color-light-yellow;
        }

        .r-table-row.what-if > .r-table-td:nth-child(1) {
            background-color: $white;
        }

    }

}
