.jumbotron-banner {

    color: white;
    background: #4278B8 url('./dist/bg.png') center center !important;

}

.form-control:hover, .form-control:focus {
    box-shadow: none;
}

.form-control:focus {
    border-color: #4278B8;
}

.form-control#income {
    text-align: right;
}

.row.calc-income {
    margin-top: 2rem;
}

.row.calc-blow-bucket {
    margin-top: 2rem;
}

.row.calc-result {
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $color-border;
}

.dollars, .cents {
    color: #999;
}

.income-help {
    letter-spacing: 0;
}

.table tbody td, .table tfoot td {
    font-size: $font-size-base;
}

// Responsive table
@include media-breakpoint-up(sm) {

    .r-table {

        width: 100%;
        display: table;

        & > .r-table-row > .r-table-td, & > .r-table-head > .r-table-row > .r-table-td {
            border-bottom: 1px solid $color-border;
        }

    }

    .r-table-head {

        display: table-header-group;

        .r-table-td {
            font-size: .75rem;
            text-transform: uppercase;
            color: $color-body-3;
        }

    }

    .r-table-row {

        display: table-row;

        .r-table-td:nth-child(2) {
            text-align: center;
        }

        .r-table-td:nth-child(3), .r-table-td:nth-child(4) {
            text-align: right;
        }

    }

    .r-table-td {
        display: table-cell;
        padding: 1rem;
    }

    .r-table-foot {

        display: table-footer-group;

        .r-table-td {
            color: $color-body-3;
        }

    }

}

@include media-breakpoint-down(xs) {

    .r-table-head {
        display: none;
    }

    .r-table-row {

        margin-bottom: 1.1rem;

        .r-table-td {
            margin-bottom: .5rem;
        }

        .r-table-td:nth-child(1) {
            font-size: 1.6rem;
        }

        .r-table-td {

            display: flex;

            // Descriptions.
            &:nth-child(2)::before, &:nth-child(3)::before, &:nth-child(4)::before {
                flex: 1;
                text-align: left;
                margin-left: .5rem;
                color: $color-body-3;
                text-transform: uppercase;
                font-size: .8rem;
            }

            // Values.
            &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                text-align: right;
                width: 100%;
                color: $color-body-2;
            }

        }

        .r-table-td:nth-child(2)::before {
            content: 'Percentage: ';
        }

        .r-table-td:nth-child(3)::before {
            content: 'Weekly allocation: ';
        }

        .r-table-td:nth-child(4)::before {
            content: 'Yearly allocation: ';
        }

    }

    .r-table-foot > .r-table-row > .r-table-td {
        font-size: 1.6rem;
    }

    .r-table-foot > .r-table-row > .r-table-td {

        &:nth-child(1), &:nth-child(2), &:nth-child(3) {
            display: none;
        }

    }

    .r-table-foot > .r-table-row > .r-table-td:nth-child(4)::before {
        content: 'Yearly total: ';
        color: $color-body-1;
        font-size: 1.6rem;
        text-transform: none;
        margin-left: 0px;
    }

}
