$font-size-base: 1rem;


// Font colors.
$color-body-1: rgba(0, 0, 0, 1);
$color-body-2: rgba(0, 0, 0, .7);
$color-body-3: rgba(0, 0, 0, .5);
$color-body-4: rgba(0, 0, 0, .3);

// Botder colors
$color-border: #DDD;
$color-light-yellow: #FFFFDD;
$color-white: #FFF;
